<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="car.ccut.com.vehicle" >
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="21" />
    <permission
        android:name="car.ccut.com.vehicle.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="car.ccut.com.vehicle.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <service android:name=".service.VoiceRecognition"/>
        <service android:name="com.cheshouye.api.client.WeizhangIntentService"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Ktl1AKoU63CoPXy7PfcjKd938cE03jNY" />

        <meta-data android:name="design_width" android:value="768"/>
        <meta-data android:name="design_height" android:value="1280"/>
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DrivingActivity"

        ></activity>
        <activity
            android:name=".ui.MusicMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity
            android:name=".ui.MusicPlayActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <service
            android:name=".service.MusicService"
            android:enabled="true" />
        <activity android:name=".ui.RegisterBaseInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity
            android:name=".ui.IndentWriteActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity
            android:name="car.ccut.com.vehicle.ui.UserCenterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity
            android:name=".ui.OtherCarQueryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity
            android:name=".ui.ProvinceList"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity
            android:name=".ui.CityList"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity
            android:name=".ui.WeizhangResult"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity
            android:name=".ui.ShortNameList"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity android:name=".ui.MapActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.CarsManageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity android:name=".ui.BaiDuNativ.BNDemoGuideActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.BaiDuNativ.BNDemoMainActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="car.ccut.com.vehicle.ui.NearbyFacilitesActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.AddCarActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.SiderBarListViewActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.RefuelStationDetailsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.SelectRefuelTypeActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.VerifyTelActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.QuickMarkActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.CarInfoDetailsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".photopick.PhotoPickerActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.ResetPasswordActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.OrderManageActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".pay.ShoppingCardActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.NearbyRefuelStationActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.NaviRouterActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.SearchInfosActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.OrderDetailsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--Jpush start-->
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="car.ccut.com.vehicle" />
            </intent-filter>
        </activity>
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="car.ccut.com.vehicle" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>
        <receiver
            android:name=".receiver.MyJpushReciver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <category android:name="car.ccut.com.vehicle" />
            </intent-filter>
        </receiver>
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="abe583a794fcad79ef8de855" />
        <!--Jpush end-->
    </application>
</manifest>
